# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store
views/
public
Procfile
app.json
coverage
.idea

# Docker
docker-compose.yml

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions

database file

